.products {
    padding: 6em 3em;

    .intro,
    .about {
        margin: 3em;

        h2 {
            text-align: center;
            font-weight: 600;
            margin-bottom: 0.8em;
            font-size: 2em;
        }

        p {
            font-size: 1.3em;
            max-width: 800px;
            margin: auto;
            text-align: center;
        }
    }

    .image-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2em;

        .product {
            text-align: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: auto;
        }
    }
}