body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
}

h2 {
    font-size: 30px;
}

button {
    text-transform: uppercase;
    border: 0;
    outline: 0;
    line-height: 1;
    padding: 1.1em 2.4em 1em 2.4em;
    cursor: pointer;
}